{{extend 'layout.html'}}
<link href="{{=URL('static','css/data.css')}}" rel="stylesheet" type="text/css"/>
<script src="{{=URL('static', 'js/data.js')}}"></script>
<div class="container">
    <a href="/bala/data/index">
        <div class="data">
             导入数据
        </div>
    </a>
        <a href="/bala/data/editdata">
        <div class="data">
             修改数据
         </div>
    </a>
    <a href="/bala/data/output">
        <div class="data">
             导出数据
         </div>
    </a>
    <a href="/bala/data/cleandata">
        <div class="data">
            数据清洗
        </div>
    </a>
    <a href="/bala/data/comment">
        <div class="data">
             评价
        </div>
    </a>
</div>
